/*
 Theme Name:   ellak.gr (GeneratePress child)
 Theme URI:    https://ellak.gr/
 Description:  GeneratePress child theme for ellak.gr
 Author:       GFOSS
 Author URI:   https://ellak.gr/
 Template:     generatepress
 Version:      0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  ellakgr
*/

/* Helper Classes */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* Add the logo on top */
.site-branding {
	float: left;
}
.main-title a {
	background-color: transparent;
	background: url('img/eellak.svg') 0 0 no-repeat;
	text-indent: -9999px;
	display: block;
	height: 132px;
	width: 450px;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}
.main-title a:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/* Social links on header */
.header-social-links {
	float: right;
	margin-top: 94px;
}
.social-links {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: FontAwesome;
	font-size: 24px;
}
.social-links li {
	float: left;
	margin-left: 15px;
}
.social-links li:first-child {
	margin-left: 0;
}
.social-links span {
	display: none;
}
.social-link-facebook a:before {
	content: "\f09a";
}
.social-link-facebook:hover a:before {
	color: #3b5998;
}
.social-link-twitter a:before {
	content: "\f099";
}
.social-link-twitter:hover a:before {
	color: #00aced;
}
.social-link-github a:before {
	content: "\f09b";
}
.social-link-github:hover a:before {
	color: #4183c4;
}
.social-link-vimeo a:before {
	content: "\f194";
}
.social-link-vimeo:hover a:before {
	color: #45bbff;
}
.social-link-flickr a:before {
	content: "\f16e";
}
.social-link-flickr:hover a:before {
	color: #ff0084;
}

.main-navigation,
.main-navigation ul ul {
	background-color: #f58220;
}
.main-navigation .main-nav ul li > a:hover,
.main-navigation .main-nav ul li.sfHover > a,
.main-navigation .main-nav ul ul li > a:hover,
.main-navigation .main-nav ul ul li.sfHover > a {
	background-color: #eb4323;
}

.separate-containers .widget-area .widget_advanced_text {
	padding: 40px 30px;
}

@media only screen and (min-width: 769px) {
	#primary {
		width: 70%;
	}
	#right-sidebar {
		width: 30%;
	}
}

@media only screen and (max-width: 768px) {
	.header-social-links {
		float: left;
		margin: 0 0 20px;
	}
}
